:root {
  --text-highlight-bg: rgb(0, 85, 149); 
  --italic-color: rgb(72, 234, 255);
}

.MJX-TEX {
  font-size: 120%;
  color: #f06c1f;
  //margin-top: -10px !important;
  //margin-bottom: -10px !important;
  text-align: center !important;

}


strong {
  /* add highlight to bold text with an background color */
  background-color: var(--text-highlight-bg);

  padding: 0 5px;
  padding-block: 0.1em;
  border-radius: 5px;
}

em {
    color: var(--italic-color);
}

[data-md-color-scheme="ayu"]  {

    /* Primary color shades */
    --md-primary-fg-color: #F5A83D;
    --md-primary-fg-color--light: #FFAA33;
    --md-primary-fg-color--dark: #F5A83D;
    --md-primary-bg-color: #1F2430;
    --md-primary-bg-color--light: #F8F9FA;
    --md-text-link-color: #FFAA33;
    --md-default-bg-color: #1F2430;

    /* Accent color shades
    --md-accent-fg-color: rgb(98, 18, 189);
    --md-accent-fg-color--transparent: hsla(189, 100%, 37%, 0.1);
    --md-accent-bg-color: hsla(0, 0%, 100%, 1);
    --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7); */
  }
  
  :root > * {
  
    /* Code block color shades
    --md-code-bg-color: hsla(0, 0%, 96%, 1);
    --md-code-fg-color: hsla(200, 18%, 26%, 1); */

    /* Footer */
    --md-footer-bg-color: #861f41;
    --md-footer-bg-color--dark: hsla(0, 0%, 0%, 0.32);
    --md-footer-fg-color: hsla(0, 0%, 100%, 1);
    --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.7);
    --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.3);
  }


[data-md-color-scheme="slate"] {
  --md-hue: 210; 
}

/*

Minimal Publish / MIT License
Copyright (c) 2020-2023 Stephan Ango (@kepano)

*/
/* Adjust the following variables or find more at the link below */
/* https://docs.obsidian.md/Reference/CSS+variables/CSS+variables */

/* Mobile */
@media (max-width:400pt) {
	body {
		--cards-min-width:var(--cards-mobile-width);
		--img-grid-gap: 0.25rem;
	}
}


